
# PyCache
**/__pycache__/

# Venv
**/.venv/
**/venv/

# CSV files
*.csv

# Log files
*.log

# Debug images
./img/*

# ESP build folders
esp/esp_csi_send/build/*
esp/esp_csi_recv/build/*

.vscode/settings.json
